/* paragraph content */
.home-content {
  text-align: center;
  font-size: larger;
  color: black;
}

/* div styling */
#content-box {
  margin: 10px;
  padding: 25px;
  border-style: inset;
  border-radius: 5px;
  border-color: bisque;
}
