p {
  font-size: small;
}

.footer {
  margin: 10px;
  padding: 10px;
  bottom: 5vh;
  width: 100%;
  height: fit-content; /* Footer height */
}

.footer-item {
  color: black;
  text-decoration: none;
}

.footer-item :hover {
  font: bold;
  color: blueviolet;
  text-decoration: underline;
}
